@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --bg-width: 100vw; /* 100% of the viewport width */
    --bg-height: 50vh; /* 50% of the viewport height */
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #26313c;
}


/* MAIN COLORS USED

Background: rgba(0,0,3,255)
Deep Blue: rgba(6,33,136,255)
Mid Blue: rgba(32,72,230,255)
Pale Blue: rgba(103,124,212,255)

*/


.bg-container{
    background-image: url(images/main_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 1000px; /*Adjust spacing so image stays relatively large*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* For Ineractable Icons */
    list-style: none;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* SIDE MENU TOGGLER */
.header .sidemenu-toggler{
    position:absolute;
    width: 40px;
    padding: 6px;
    top: 23px;
    right: 40px;
}

.header .sidemenu-toggler > span{
    display: block;
    background-color: white;
    height: 2px;
}

.header .sidemenu-toggler > span:nth-child(2){
    margin: 4px 0 4px auto;
    width: 75%;
    transition: 0.3s all;
}

.header .sidemenu-toggler > span:nth-child(3){
    margin-left: auto;
    width: 50%;
    transition: 0.6s all;
}

/*Side menu animation*/
.header .sidemenu-toggler:hover > span:nth-child(2),
.header .sidemenu-toggler:hover > span:nth-child(3){
    width: 100%;
}

/*SIDE MENU*/
.header .sidemenu{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(42,44,46,0.27);
    box-shadow: 0 8px 32px 0 rgba(11,11,11,0.37);
    backdrop-filter: blur(34px);
    border: 1px solid rgba(255,255,255,0.18);
    width: 25%;
    height: 100vh;
    z-index: 999;
    padding: 4rem;
    color: white;
    transform: translate3d(100%,0,0);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

/*side menu actions*/
.header .sidemenu.active{
    transform: translate3d(0,0,0);
}

.header .sidemenu .close{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: 24px;
}

.header .sidemenu .close::before,
.header .sidemenu .close::after{
    content:"";
    position: absolute;
    top: 0;
    left: 13px;
    height: 28px;
    width: 2px;
    background: white;
}

.header .sidemenu .close::before{
    transform: rotate(45deg);
}

.header .sidemenu .close::after{
    transform: rotate(-45deg);
}

.header .sidemenu nav ul{
    padding-top: 30px;
}

.header .sidemenu nav li{
    padding: 15px 0;
}

.header .sidemenu nav a{
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
}

.header .sidemenu nav a:hover{
    color: deeppink;
}

/* Moving Question Mark Icon */
.fa-user-edit {
    color: darkblue;
    font-size: 80px;
    transform: translate(38vh, 26vh);
}

.fa-user-edit:hover{
    color: rgb(210, 0, 112);
}

/* Moving Code Icon */
.fa-laptop-code {
    color: darkblue;
    font-size: 88px;
    transform: translate(37vh, 39vh);
}

.fa-laptop-code:hover{
    color: rgb(210, 0, 112);
}


/* Moving Address Book */
.fa-envelope {
    color: darkblue;
    font-size: 75px;
    transform: translate(21.5vh, 52vh);
}

.fa-envelope:hover{
    color: rgb(210, 0, 112);
}


ol,ul{
    list-style: none;
}

img{
    max-width: 100%;
    height:auto;
}

a:hover{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    transition: all 0.7s;
    z-index: 9;
}

.header .wrap{
    width: 1400px;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

/*HEADER MENU*/
.header .menu ul{
    display: flex;
}

.header .menu a{
    font-size: 1.2rem;
    color: white;
    padding: 12px;
    display: block;
    text-transform: uppercase;
}

.header .menu a:hover{
    color: deeppink;
}




/* MAIN ABOUT ME STYLES */

.about{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,3,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
}

.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: #677cd4;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

/* MAIN PARAGRAPHS */

.text p{
    color: white;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

/* Initial state of text */
#about-text {
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease;
}

button{
    background-color: #677cd4;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}

button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #677cd4;
    color: #677cd4;
    transition: .4s;
    cursor: pointer;
}

/* ADJUST ABOUT ME PAGE DUE TO SIZING OF PAGE */

@media screen and (max-width: 1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}

@media screen and (max-width: 650px) {
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}

/* HOBBIES STYLES */
.hobbies{
    width: 100%;
    height: 150vh;
    background-color: rgba(0,0,3,255);
    display: flex;
    justify-content: left;
    align-items: left;
}



/* CONTACT ME STYLES */

.text ul{
    color: white;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}



/*FOOTER STYLES*/
.footer {
    background-color: #222;
    color: #fff;
    padding-bottom: 20px;
    text-align: center; /* Center text content */
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center items horizontally */
    max-width: 1200px;
    margin: 0 auto;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /*Add some space between social icons and bottom content */
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: deeppink;
}

.footer-bottom {
    padding: 5px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* Font Awesome Icons */
.footer-social i {
    font-size: 20px;
    margin: 10px;
}